@import 'utilities.css';

:root{
    --primary: #849fe9;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #5a5858;
    --light: #dae7e9;
    --secondary: #070606;
}

body{
    font-family:'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header{
    background: var(--dark);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto; 
}

menu{
    background-color: #000;
}

#menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color:white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #849fe9;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:1rem;
    text-transform: uppercase;
}

header nav .left a:hover{
    color:var(--primary);
}

header nav{
    padding:3rem 0;
}

header nav .branding{
    margin-right:6rem;
}

.hero{
    padding:4rem 0;
}

.hero .left img{
    width:400px;
}

.hero .right{
    color:var(--pure)
}

.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:1rem;
}

.hero .right h1{
    font-size:4rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:2rem;
}

.hero .right h1 span{
    color:var(--primary);
}

.hero .right p{
    line-height:1.9;
    margin-bottom: 4rem;
}

.hero .right{
    margin-top:-13rem;
}

section{
    padding:6rem 0;
}

section.sobre .sobre-mí-img{
    height:450px;
}

section.sobre h1{
   margin-bottom:1rem; 
   font-size:1.6rem;
   font-weight:400;
}

section.sobre h1 span{
    color:var(--primary);
}

section.sobre h3{
    font-size:1rem;
    margin-bottom:1rem;
    font-weight:400;
}

section.sobre p{
    font-family:'Poppins', sans-serif;
    color:var(--ternary);
    line-height:1.8;
}

section.sobre .social{
    display: flex;
}

section.sobre .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right:0.6rem;
}

section.sobre .social a:hover{
    background:var(--primary);
}

.section-heading span{
    color:var(--primary);
}

.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p{
    color:var(--ternary);
    font-family: sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}

section.aptitudes{
    background:var(--light);
}

section.aptitudes .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;

}

section.aptitudes .card-wrapper .card{
    background:var(--pure);
    padding:2rem 1rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
}

section.aptitudes .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

section.aptitudes .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.aptitudes .card-wrapper .card:hover{
    background: var(--dark);
}

section.aptitudes .card-wrapper .card:hover h2, section.aptitudes .card-wrapper .card:hover {
    color:var(--pure);
}

section.idiomas img{
    margin-right: 9rem;
}

section.portfolio{
    background:var(--light);
}

section.viajes{
    background:var(--white);
}

section.idiomas{
    background:var(--light);
}

section.contacto .card-wrapper .card{
    text-align: center;
}

section.contacto .card-wrapper .card h1{
    font-weight: 600;
    margin-bottom: 1rem;
}
section.contacto .card-wrapper .card h6{
    font-size: 1rem;
    color:var(--ternary);
    font-weight: 600;
    margin-bottom: 4rem;
}

section.contacto .input-wrap{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    margin-bottom: 2rem; 
}

section.contacto .input-wrap-2{
    display:flex;
    flex-direction: column;
}

section.contacto input{
    padding: 0.5rem; 
}

section.contacto .input-wrap-2 input{
    margin-bottom:2rem; 
}

section.contacto .input-wrap-2 textarea{
    padding: 0.5rem; 
}

section.contacto .btn-wrapper{
    text-align: center;
    margin-top: 1rem;
}

footer{
   
    background: var(--dark);
    text-align: center;
    padding:5rem 0;
}

footer .footer-logo{
    margin-bottom: 3rem;
}

footer .footer-socials a{
    margin-right: 1rem;
}

footer .footer-socials{
    margin-bottom:2rem ;
}

footer .derechosIconos{
    color:var(--ternary);
}



h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 80%;
    margin: 0px 60px;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}


/* Other Carousel (Portfolio) */

.Carousel1{
    width: 80%;
    margin: 0px 60px;
}
.Carousel1 h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list1{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track1{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick1{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick1 h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick1 h4 small{
    font-size: 15px;
    display: block;
}
.slick1 a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick1 a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow1{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow1:focus{
    outline: 0;
}
.slick-arrow1 svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev1{
    left: 0px;
}
.slick-next1{
    right: 0px;
}



